*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgba(39, 37, 37, 0.991);
    padding: 0;
}

.itens{   
    background-color: deeppink;
    margin: 50px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    cursor:pointer;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    color: white;
}

.itens:hover{
    background-color: white;
    transition: background 0.7s;
    color:deeppink;
}